<div class="">
  <div class="">
    <div class="">
    <h1>Sign Up</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="email" class="form-control" id="signupUsername" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="signupPassword">
        </div>
        <button type="submit" class="btn btn-primary" id="signupBtn">Login</button>
        <a href="/login">Login instead</a>
      </form>
    </div>
  </div>
</div>

<script src="/public/js/signup.js"></script>